@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: hsl(30, 38%, 92%);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
}

h1 {
	font: 32px/1 'Fraunces';
	color: #1C232B;
	padding: 0px;
	margin: 0px;
}

p{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat';
	color: hsl(228, 12%, 48%);
}

#product-img {
	width: 300px;
	height: 450px;
	background: url("../images/image-product-desktop.jpg") center/cover no-repeat;
}

#product-desc {
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
}

#product-desc>div {
	width: 236px;
}

#item-type {
	height: 15px;
	margin-top: 32px;
	font: 12px/1'Montserrat';
	letter-spacing: 5px;
}

#item-name {
	height: 96px;
	margin-top: 20px;
	font: 34px 'Fraunces';
}

#item-desc{
	height: 92px;
	margin-top: 24px;
	font: 14px/23px'Montserrat';
}

#item-price {
	height: 32px;
	display: flex;
	align-items: center;
	margin-top: 29px;
}

#new-price {
	font: 32px 'Fraunces';
	color: hsl(158, 36%, 37%);
}

#old-price {
	margin-left: 20px;
	font: 14px 'Montserrat';
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}

#item-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	background-color: hsl(158, 36%, 37%);
	height: 48px;
	width: 240px;
	border-radius: 8px;
}

#item-button>div {
	height: 18px;
	margin-left: 6px;
	margin-right: 6px;
}

#item-button:hover {
	cursor: pointer;
	background-color: hsl(156, 59%, 25%);
}

#item-button:focus {
	background-color: hsl(15, 59%, 25%);
}

#button-icon{
	width: 14px;
	background: url("../images/icon-cart.svg") center/14px no-repeat;
}

#button-text {
	font: 14px 'Montserrat';
	color: white;
}



/* ##################### MOBILE VERSION ##################### */



@media screen and (max-width: 375px) {

	main {
		flex-direction: column;
	}

	#product-img {
		width: 343px;
		height: 240px;
	}
	
	#product-desc {
		width: 343px;
		height: 371px;
	}
	
	#product-desc>div {
		width: 295px;
	}
	
	#item-type {
		margin-top: 24px;
	}
	
	#item-name {
		height: 64px;
		margin-top: 12px;
	}
	
	#item-desc{
		margin-top: 16px;
	}
	
	#item-price {
		margin-top: 24px;
	}

	#item-button {
		margin-top: 20px;
	}
}